<!DOCTYPE html>

<html>
    <head>        
    </head>

    <body>
        <%- include header.ejs%> 
        <%- include navBar.ejs%>
<div class="container" id="content">
    <div class="mainMenu">
            <h2>Ebox Services</h1>
            <img class="img-responsive" src="img/Ebox.jpg">
    </div>
</div>
        <%- include footer.ejs%> 
    </body>
    
</html>