<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        
    </head>

    <body id="#content">
        <%- include header.ejs%> 
        <h1>login</h1>
        <div class="container">
            <div>
            <button>Check Mail</button>
            <button>Ask for a delivery</button>
            <button>Check statistique</button>
            <button>Options</button>
        </div>
        <%- include footer.ejs%> 
    </body>
</html>