<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        <%- include header.ejs%> 
        <img src="img/Ebox.jpg">
        <img src="img/GotMail.png">
        <%- include footer.ejs%> 
    </body>
</html>